.company_history {
    display: flex;
    min-width: 1200px;
    padding: 40px 0;
    width: 85%;
    margin: 0 auto;
}
.company_history img {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}
.company_history_1 {
    width: 50%;
    padding: 30px 50px;
}
.company_history_2 {
    width: 50%;
}
.company_box {
    min-width: 1200px;
    margin: 100px 0;
}
.company_box_1 {
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(153, 180, 167);
    border: 3px dashed rgb(56, 107, 82);
    border-radius: 5px;
    height: 600px;
    overflow: hidden;
    
}
.company_box_2 {
    display: flex;
    padding: 30px 0;
}
.company_box_2 > div:first-child {
    text-align: end;
    padding-right: 20px;
    width: 300px;
    border-right: 1px solid black;
    font-size: 15pt;
    font-weight: 700;
}

.history_year {
    display: flex;
    flex-direction: column;
}

.history_month {
    display: flex;
    padding: 0px 10px 20px 10px;
}

.history_month > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history_month > ul > li {
    padding: 2px;
}

.company_box_2 strong {
    display: block;
    width: 100px;
    color: red;
}
